.header-title {
    color: var(--very-dark-blue) !important;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif !important;
}
.header-text {
    margin-left: 3rem;
    color: var(--very-dark-blue) !important;
    font-family: 'Ubuntu', sans-serif !important;
}

.navbar-container {
    margin-left: 4rem;
    margin-right: 4rem;
}

@media (max-width: 991px) {
    .navbar-container {
        margin-top: 2rem;
    }
}