.header-title {
    color: var(--dark-blue) !important;
    font-weight: 500;
}
.header-text {
    margin-right: 3rem;
    color: var(--dark-blue) !important;
}

.navbar-container {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}